.sharedStatsClass {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container {
  font-size: 0.8rem;
  color: var(--ion-color-text-aside);
}

.containerLarge {
  width: 100%;
  display: fles;
  flex-direction: column;
  font-size: 0.8rem;
  color: var(--ion-color-text-aside);
}

.spacer {
  height: 10px;
}


